<h5><%= link_to 'Tests', tests_path %> > <%= link_to "#{@test.name}", test_path(@test) %> > Edit question</h5>

<h1>Edit Question</h1>

<%= render 'form' %>

<%= link_to 'Back', test_questions_path(@test) %>

